Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Jupyter Notebooks are used in Data Science for recording experiments and projects.
- Jupyter Lab is compatible with many files and Data Science languages.
- There are different ways to install and use Jupyter Notebooks.

Some of the popular languages that Data Scientists use are:
    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists include:
    1.Numpy
    2.Pandas
    3.Scikit-learns
    4.TensorFlow
    5.NLTK

| #Data Science Tools | 
| -------------| 
| Python | 
| R |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
YO J